<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gamecheckerdb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">haslo3</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    
    <mapping class="com.bbzoftware.hibernateEntities.Member"/>             <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.Role"/>               <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.MembersRoles"/>       <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.Library"/>            <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.Game"/>               <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.Gametype"/>           <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.SqfaComment"/>        <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.SqfaQuestion"/>       <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.SqfaAnswer"/>         <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.Company"/>            <!-- DONE -->   <!-- DONE -->
    <mapping class="com.bbzoftware.hibernateEntities.MembersPC"/>          <!-- DONE -->   <!-- DONE -->    
    <mapping class="com.bbzoftware.hibernateEntities.MembersCPU"/>         <!-- DONE -->   <!-- DONE -->         
    <mapping class="com.bbzoftware.hibernateEntities.MembersGPU"/>         <!-- DONE -->   <!-- DONE -->   
    <mapping class="com.bbzoftware.hibernateEntities.GamesLibraries"/>     <!-- DONE -->   <!-- DONE -->
  </session-factory>
</hibernate-configuration>
