<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gamecheckerdb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">atiwada3524</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    
    <mapping class="com.bbzoftware.hibernateEntities.Member"/>
    <mapping class="com.bbzoftware.hibernateEntities.Role"/>
    <mapping class="com.bbzoftware.hibernateEntities.MembersRoles"/>
    <mapping class="com.bbzoftware.hibernateEntities.Library"/>
    <mapping class="com.bbzoftware.hibernateEntities.Game"/>
    <mapping class="com.bbzoftware.hibernateEntities.Gametype"/>
    <mapping class="com.bbzoftware.hibernateEntities.SqfaComment"/>
    <mapping class="com.bbzoftware.hibernateEntities.SqfaQuestion"/>
    <mapping class="com.bbzoftware.hibernateEntities.SqfaAnswer"/>
    <mapping class="com.bbzoftware.hibernateEntities.Company"/>
    <mapping class="com.bbzoftware.hibernateEntities.MembersPC"/>
    <mapping class="com.bbzoftware.hibernateEntities.MembersCPU"/>
    <mapping class="com.bbzoftware.hibernateEntities.MembersGPU"/>
    <mapping class="com.bbzoftware.hibernateEntities.GamesLibraries"/>
    <mapping class="com.bbzoftware.hibernateEntities.MembersRatesGames"/>
  </session-factory>
</hibernate-configuration>
