/* 
    Created on : 2014-07-20, 21:44:10
    Author     : mlethys
*/

html,
body {
   margin:0;
   margin-top: 5px;
   padding:0;
   height:100%;
}

#container {
    width: 1024px;
    min-height: 100%;
    margin: auto;
    border: 1px
}
#loginBarBackground {
    background-color: #e5e5e5; 
    width: 1024px; 
    height: 40px; 
    margin: auto;
}
.loginRegButton {
    width: 100px;
    height: 30px;
    background-color: #e5e5e5;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
#loginButton {
    float: right;
}
#loginButton a {
    text-decoration: none;
    color: #000000;
}
#registerButton {
    float: right;
    margin-right: 50px;
}
#registerButton a {
    text-decoration: none;
    color: #000000;
}
#menuBar {
    width: 1024px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    clear: both;
    background: -webkit-linear-gradient(#2c80fe, #0050c7); 
    background: -o-linear-gradient(#2c80fe, #0050c7); 
    background: -moz-linear-gradient(#2c80fe, #0050c7); 
    background: linear-gradient(#2c80fe, #0050c7); 
}
.menuButton {
    width: 100px;
    height: 50px;
    margin-top: -51px;
    cursor: pointer;
}
#gameEnc {
    float: left;
    margin-left: 200px;
}
#sqfa {
    float: left;
    margin-left: 350px;
}
#about {
    float: left;
    margin-left: 480px;
}
.menuText {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sliderImg{ 
    width: 1024px;
    height: 300px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
#preload { 
    display:none 
}
#mainBody {
    width: 1024px;
    height: auto;
    //overflow: auto;
}
.mainBody {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background: #ffffff;
}
#newsContainer {
    width: 830px;
    height: auto;
    float: left;
    box-shadow: 6px 6px 10px #888888;
}
#addsContainer {
    width: 170px;
    height: auto;
    float: left;
    margin-left: 20px;
}
.headline {
    color: #0050c9;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
.newsText {
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    font-size: 14px;
}
.add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.footer {
    width: 1024px;
    height: 20px;
    margin: auto;
    float: bottom;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background: -webkit-linear-gradient(#2c80fe, #0050c7); 
    background: -o-linear-gradient(#2c80fe, #0050c7); 
    background: -moz-linear-gradient(#2c80fe, #0050c7); 
    background: linear-gradient(#2c80fe, #0050c7); 
}
.footer p {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}